<div class= "container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @nugget.message %>
</p>

<%= link_to 'Edit', edit_nugget_path(@nugget) %> |
<%= link_to 'Back', nuggets_path %>
</div>
