@import "bootstrap";
@import "font-awesome";
@import 'rails_emoji_picker';

* {
  font-family: Arial;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
} // This disables horizontal scrolling

// NAVIGATION
.navigation {
  padding-top: 5%;
}

.new-nugget-button:hover, .sign-out-button:hover, .edit-user-button:hover {
  text-decoration: none;
}

.new-nugget-button, .new-nugget-button:visited {
  color: rgba(255,195,0,0.95); // yellow
}

.sign-out-button, .sign-out-button:visited {
  color: rgba(191,12,12, 0.95); // red
}

.edit-user-button, .edit-user-button:visited {
  color: rgba(43,179,243, 0.95); // blue
}

.maccas-home-button {
  height: 50px;
  width: auto;
}

.my-nuggets-button {
  height: 60px;
  width: auto;
  padding-bottom: 10%;
}

// END NAVIGATION

// MAIN LOGIN/SIGN UP PAGE
.main-bg {
  background-image: url(image-path("background_image/blue_bg_landscape.gif"));
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}

.login-page-logo {
  padding-top: 5%;
  padding-bottom: 5%;
}

.form-labels {
  margin-top: 5%;
}

.edit-accounts-section {
  text-align: center;
}

.edit-account-update-button {
  margin-top: 20px;
}

.cancel-account-heading {
  padding-top: 20px;
}

.row .back {
  padding-top: 20px;
}

.login-page-buttons {
  margin-top: 2%;
}
// END MAIN LOGIN/SIGN UP PAGE

// SIGN UP PAGE VIEWS/DEVISE/REGISTRATION/NEW.HTML.ERB
.sign-up-bg {
  background-image: url(image-path("background_image/blue_bg_landscape.gif"));
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}

.sign-up-page {
  text-align: center;
}

.sign-up-form {
  margin-bottom: 40px;
}

.maccas-logo-page {
  margin-top: 5%;
  margin-bottom: 5%;
}

.password-confirmation {
  margin-bottom: 5px;
}

.sign-up-button, .login-page-buttons {
  margin-top: 3%;
  margin-bottom: 3%;
}
// END SIGN UP PAGE VIEWS/DEVISE/REGISTRATION/NEW.HTML.ERB

// ACCOUNT EDIT PAGE - VIEWS/DEVISE/REGISTRATIONS/EDIT.HTML.ERB
.edit-accounts-bg {
  background-image: url(image-path("background_image/blue_bg_landscape.gif"));
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}
// END ACCOUNT EDIT PAGE - VIEWS/DEVISE/REGISTRATIONS/EDIT.HTML.ERB

// NUGGETS/INDEX.HTML.ERB
.nugget-feed-bg {
  background-image: url(image-path("background_image/orange_bg_happy.gif"));
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}


.nugget-feed-page{
  text-align: center;
}

#notice {
  text-align: center;
  margin-top: 5%;
}

.top-heading {
  margin-top: 20px;
}

.nugget-heading {
  text-align: center;
  padding-top: 5%;
  color: white;
  z-index: 10;
}

.spinning-cheeseburger-div {
  z-index: 0;
  position: fixed;
  top: 35%;
  left: 20%;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.spinning-fries-div {
  z-index: 0;
  position: fixed;
  bottom: 10%;
  right: 10%;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.spinning-maccas {
  height: 150px;
  width: auto;
}
// spinning animation
@keyframes spin {

  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }

    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #FFC300;
  color: white;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #FFC300 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #FFC300;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #FFC300;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #FFC300 transparent transparent;
  }
}
//end timeline style

//wiggle animation
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.like-nugget{
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}// end wiggle animation

// END NUGGETS/INDEX.HTML.ERB

// NEW NUGGETS/NEW.HTML.ERB
.new-nugget-bg {
  background-image: url(image-path("background_image/orange_bg_happy.gif"));
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}

.new-nugget-page {
  text-align: center;
}

.new-nugget-row {
  margin-top: 80px;
}

.new-nugget-heading {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%;
  color: white;
}

.font-awesome-icons, .font-awesome-icons:visited {
  color: rgba(0,0,0,0.75);
}

.font-awesome-icons:hover {
  color: black;
  text-decoration: none;
}

.yellow-fa-button, .yellow-fa-button:visited {
  color: rgba(255,195,0,0.95);
}

.yellow-fa-button:hover  {
  color: rgb(255,195,0);
  text-decoration: none;
}

.new-nugget-form {
  margin: 0 auto;
}

.new-nugget-message-field {
  margin-bottom: 20px;
}

.new-mcnugget {
  margin-top: 5%;
  max-height: 100px;
  max-width: auto;
}
// END NEW/NUGGETS NEW.HTML.ERB

// APP/VIEWS/NUGGETS/MYNUGGET.HTML.ERB
.my-nuggets-bg {
  background-image: url(image-path("background_image/red_bg_landscape.gif"));
}

.my-nuggets-heading {
  color: white;
}
// END APP/VIEWS/NUGGETS/MYNUGGET.HTML.ERB

// APP/VIEWS/NUGGETS/SHOW.HTML.ERB
.show-nugget-bg {
  background-image: url(image-path("background_image/green_bg_landscape.gif"));
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}

.show-nugget-page {
  text-align: center;
}

.show-happymeal {
  margin-top: 10%;
  margin-bottom: 5%;
  max-height: 200px;
  max-width: auto;
}
// END APP VIEWS/NUGGETES/SHOW.HTML.ERB

// APP/VIEWS/NUGGETS/EDIT.HTML.ERB
.edit-nugget-bg {
  background-image: url(image-path("background_image/green_bg_landscape.gif"));
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}

.edit-nugget-page {
  text-align: center;
}

.editing-nugget-heading {
  margin-bottom: 5%;
}

.font-awesome-show-edit-back-row {
  margin-top: 5%;
}
//END PP/VIEWS/NUGGETS/EDIT.HTML.ERB
